body {
  background-color: black;
  color: white;
}

.scrollA::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}

.scrollA::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 10rem;
}

.custom-modal .ant-modal {
  position: fixed; 
  top: 0; 
  left: 0; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color: transparent; 
}

.custom-modal .ant-modal-content {
  position: fixed;
  width: 80vw; 
  height: 100vh;
  background-color: #0A0A0A; 
  border-radius: 0; 
  box-shadow: none; 
  margin: 0;
  margin-top: -105px;
  margin-left: -8px;
  padding: 10px;
}

.custom-modal .ant-modal-header {
  display: none; 
}

.custom-modal .ant-modal-body {
  height: 100%; 
  overflow: auto; 
}

@media(min-width:1024px) {
  .custom-modal .ant-modal {
    display: flex;
    top: 0; 
    left: 0; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    background-color: transparent; 
  }
  
  .custom-modal .ant-modal-content {
    position: fixed;
    color: #ffff;
    width: 27vw; 
    height: 18vh;
    border-radius: 10px; 
    box-shadow: none; 
    margin: 0;
    margin-top: 5px;
    margin-left: 8px;
    padding: 10px;
  }
  
  .custom-modal .ant-modal-header {
    display: none; 
  }
  
  .custom-modal .ant-modal-body {
    height: 100%; 
    overflow: auto; 
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;